# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
playwright-report/
test-results/
blob-report/
.playwright/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.swp

# OS
.DS_Store
